app:
  baseUrl: "${RHDH_BASE_URL}"
backend:
  baseUrl: "${RHDH_BASE_URL}"
  cors:
    origin: "${RHDH_BASE_URL}"

auth:
  environment: development
  session:
    secret: superSecretSecret
  providers:
    guest:
      dangerouslyAllowOutsideDevelopment: true
    oidc:
      development:
        metadataUrl: "${KEYCLOAK_METADATA_URL}"
        clientId: "${KEYCLOAK_CLIENT_ID}"
        clientSecret: "${KEYCLOAK_CLIENT_SECRET}"
        prompt: auto
        callbackUrl: "${RHDH_BASE_URL}/api/auth/oidc/handler/frame"
        signIn:
          resolvers:
            - resolver: emailLocalPartMatchingUserEntityName
signInPage: oidc
catalog:
  rules:
    - allow: [User, Group]
